@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  font-family: Montserrat, Verdana;
  background-color: #4abe4aaa;
  margin: 0px;
}

.underlined-header {
  text-decoration: underline;
}

.area1 {
  background-image: linear-gradient(to right, #4abe4aFF, #4abe4a66);
}

.area2 {
  background-image: linear-gradient(to right, #7332a8FF, #7332a866);
  color: lightgray;
}

.area3 {
  background-image: linear-gradient(to right, #b9f542FF, #b9f54266);
}

.area1, .area2, .area3 {
  padding: 16px;
}

.banner {
  background-image: linear-gradient(to right, #ff8000FF, #ff800066);
  text-align: center;
  font-size: 30px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.area3 > ul > li > a, .area1 > ul > li > a {
  font-weight: bold;
}

.area1 > ul > li {
  font-size: 20px;
}

.area2 > ul > li > a, .area2 > ul > li {
  color: cyan;
}
